<%- include("layouts/header"); -%>
<%- include("layouts/nav"); -%>
<main>
    <form name="addPageForm" action="/addpage" method="post" enctype="multipart/form-data">
        <div>
            <label>Page Name:</label>
            <input 
                type="text" 
                name="name" 
                value="<%= locals.formData ? locals.formData.name : '' %>"
            />
        </div>
        <div>
            <% if (typeof errors !== "undefined") { %>
                <p><small>Note: You will need to re-select your image.</small></p>
            <% } %>
            <label for="image">Image:</label>
            <input id="image" type="file" name="image"><br/>
        </div>
        <div>
            <label>Web Content:</label>
            <textarea name="content" class="mytextarea">
                <%= locals.formData ? locals.formData.content : '' %>
            </textarea>
        </div>
        <div>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </div>
        <p id="errors">
            <% if(typeof(errors) != "undefined") { 
                for(let error of errors) {%>
                    <h3><%= error.msg %></h3>
            <%}}%>
        </p>
    </form>
</main>
<script>
    var initialContent = '<%- locals.formData && locals.formData.content ? locals.formData.content : "" %>';
</script>
<%- include("layouts/footer"); -%>