<%- include("layouts/header"); -%>
<%- include("layouts/nav"); -%>

<main>
    <% if(typeof(webdata) !== "undefined" && webdata) { %>
        <% if(webdata.image) { %>
            <img src="<%= webdata.image %>" alt="Page Image" />
        <% } %>
        <%- webdata.content -%>
    <% } %>
</main>

<%- include("layouts/footer"); -%>